@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #B4AEAE;
    height: 60px;
    max-width: 1106px;
    margin: 30px auto;
    padding: 31px 39px 50px 31px;
    align-items: center;


    .div-navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 33px;
    }

    .navbar-links {
        display: flex;
        justify-content: space-between;
        gap: 33px;
        list-style: none;
    }

    .navbar-text {
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        color: #4B5563;
    }

    .button-navbar {
        width: 189px;
        height: 60px;
        border-radius: 6px;
        border: 1px solid;
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        background-color: #16A34A;
        color: #FFFFFF;
        cursor: pointer;

        &:hover {
            background-color: #21C05C;
        }
    }
}

main {
    .sessao-doar {
        display: flex;
        justify-content: center;

        .texto-doar {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 54px 40px 20px ;
                h1{
                    font-family: 'Poppins', sans-serif;
                    font-weight: 700 bold;
                    font-size: 60px;
                    color: #1F2937;
                    line-height: 130%;
                    max-width: 700px;
                    margin-bottom: 20px;
                }
                h4{
                    font-family: 'inter', sans-serif;
                    font-size: 20px;
                    color: #4B5563;
                    line-height: 100%;
                    max-width: 680px;
                    margin-bottom: 30px;
                }
                .container-text-botoes{
                    display: flex;
                    gap: 43px;
                }
                button {
                    width: 189.81px;
                    height: 62px;
                    border-radius: 6px;
                    border: 1px solid;
                    font-family: 'Poppins', sans-serif;
                    font-size: 16px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                }
                .botao-quero-doar{
                    background-color: #16A34A;
                    color: #FFFFFF;
                }
                .botao-quero-adquirir{
                    background-color: #FFFFFF;
                    color: #2563EB;
                }
                }

                }
.dados{
    background-color: #F3F5F8;
    display: flex;
    justify-content: space-around;
    height: 20vh;
    align-items: center;
    margin-top: 137px;
    h2{
        color:#16A34A ;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 40px;
        line-height: 100%;
        margin-bottom: 9px;
        display: flex;
        justify-content: center;
    }
    p{
        color:#4B5563;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
    }
    
}
.menu-comofunciona{
        display:flex;
        flex-direction: column;
        margin: 110px 89.44px 115px;

    }
    .texto1-menu-comofunciona{
        margin-bottom: 22px;
        font-family: 'Poppins', sans-serif;
        font-weight: 700px;
        font-size: 40px;
        line-height: 100%;
        color:#1F2937
    }
    .texto2-menu-comofunciona{
        font-family: 'inter', sans-serif;
        font-weight: 400;
        font-size: 25px;
        line-height: 150%;
        color:#1F2937;
        margin-bottom: 94px;
    }    
    .card-top{
        display: flex;
        flex-direction: column;
        background-color: #F3F5F8;
        width: 491px;
        height: 600px;
        top: 1211px;
        left: 88.66px;
        border-radius: 8px;
        }
    
    }
    .icone-presente-e-texto{
        display: flex;
        padding-left: 2rem;
        justify-content: center;
        margin-bottom: 28.42px;
        flex-direction: column;
        font-family: 'Poppins', sans-serif;
        position: relative;
        img{
        position: absolute;
        top: 27%;
        }
    }
    .para-doadores{
        padding-left: 3.9rem;
        align-items: start;
        font-family: 'inter', sans-serif;
        font-weight: 400;
        font-size: 25px;
        line-height: 150%;
        color: #16A34A;
        margin-bottom: 36.21px;
        margin-top: 47.79px;
    }
    .card-conteudo{
        padding-left: 2rem;
    }
    .card-content{
        padding-top: 3rem;
        position: relative;
        img{
            position: absolute;
        }
    }
    .card-title-neg{
        font-family: 'Poppins', sans-serif;
        color: #09090B;
        font-weight: 700;
    }
    .card-title{
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
    }

@media (max-width: 700px) {
    header {
        display: flex;
        flex-direction: column;
        width: 95%;
        padding: 31px 0px 100px 31px;
        gap: 10px;


        .navbar-img {
            justify-self: left;
            align-self: flex-start;
        }

        .navbar-links {
            gap: 8px;
        }

        .navbar-text {
            font-size: 10px;
        }

        .button-navbar {
            width: 130px;
            height: 40px;
            font-size: 10px;
        }

    }
    
}