*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;

.div-navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 33px;
}
    
    .navbar-links{
     display: flex;
     justify-content: space-between;
     gap: 33px;
}
    
}